<script src="{{ "/htmlwidgets_deps/htmlwidgets-0.5.1/htmlwidgets.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/jquery-2.1.1/jquery.min.js" | prepend: site.baseurl }}"></script>
<link href="{{ "/htmlwidgets_deps/tooltip-3.3.6/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet" />
<script src="{{ "/htmlwidgets_deps/tooltip-3.3.6/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/ggiraph-binding-0.1.0/ggiraph.js" | prepend: site.baseurl }}"></script>
